{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/bucket.css' %}">

<div class="wrap">

    <div class="Add">
        <p>새 BUSKET 추가하기</p>
    </div>
    
    <div class="Spark_61">
        <img src="{% static 'img/Spark 61.svg' %}" alt="Spark_61">
    </div>
    
    <div class="Emptybusket">
        <img src="{% static 'img/Emptybusket.svg' %}" alt="Emptybusket">
    </div>

</div>

<div class="Busket_ing">
    <p>나의 비스켓 현황</p>
</div>

<div class="wrap2">

    <div class="Brutalist_99">
        <img src="{% static 'img/Brutalist 99.svg' %}" alt="Brutalist_99">
    </div>

    <div class="Rectangle_15">
        <img src="{% static 'img/Rectangle 15.svg' %}" alt="Rectangle_15">
        
    </div>
</div>

<div class="wrap3">

    <div class="buskets">

        <div class="busket2">
            <img src="{% static 'img/비스켓 2.svg' %}" alt="busket2">
        </div>
        <div class="busket4">
            <img src="{% static 'img/비스켓 4.svg' %}" alt="busket4">
        </div>
        <div class="busket8">
            <img src="{% static 'img/비스켓 8.svg' %}" alt="busket8">
        </div>
        <div class="busket9">
            <img src="{% static 'img/비스켓 9.svg' %}" alt="busket9">
        </div>

    </div>
    
    <div class="buskets2">

        <div class="busket10">
            <img src="{% static 'img/비스켓 10.svg' %}" alt="busket10">
        </div>
        <div class="busket11">
            <img src="{% static 'img/비스켓 11.svg' %}" alt="busket11">
        </div>

    </div>

</div>
    


{% endblock %}