{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/bucket.css' %}">
<script src="{% static 'js/bucket.js' %}"></script>
    
{%if user.is_authenticated %}
<div class="buket_wrap">
    <div class="wrap">

        <div class="Add">
            <p>새 BUSKET 추가하기</p>
        </div>

        <div class="Spark_61">
            <img src="{% static 'img/Spark 61.svg' %}" alt="Spark_61">
        </div>

        <div class="Emptybusket addPopup">
            <button class="busket-add" onclick="addBusket(event)"><img id="bu-add"
                    src="{% static 'img/Emptybusket.svg' %}" alt="Emptybusket"></button>
        </div>

    </div>
    
    
        <div class="popup">
    
            <div class="popup_top">
                <ul class="popup_ul">
                    <li class="popup_li">BUSKET 추가하기</li>
                    <li class="popup_li close-popup">X</li>
                </ul>
            </div>
        
            <form class="popup_bottom" action="{% url 'buket:buket' %}" method="POST">
                {% csrf_token %}
                <div class="busket-options">
                    <label>
                        <input type="radio" name="busket" value="2" >
                        <div class="busket2">
                            <img src="{% static 'img/비스켓 2.svg' %}" alt="busket2">
                        </div>
                    </label>
    
                    <label>
                        <input type="radio" name="busket" value="4" >
                        <div class="busket4">
                            <img src="{% static 'img/비스켓 4.svg' %}" alt="busket4">
                        </div>
                    </label>
    
                    <label>
                        <input type="radio" name="busket" value="8" >
                        <div class="busket8">
                            <img src="{% static 'img/비스켓 8.svg' %}" alt="busket8">
                        </div>
                    </label>
    
                    <label>
                        <input type="radio" name="busket" value="9" >
                        <div class="busket9">
                            <img src="{% static 'img/비스켓 9.svg' %}" alt="busket9">
                        </div>
                    </label>
    
                </div>
        
                <ul class="popup_detail">
        
                    <div class="detail1">
                        <li class="p_ques">이 BUSKET의 이름은 뭐야?</li>
                        <div>
                            <input class="p_yellowbox" type="text" name="busketName">
                        </div>
                    </div>
        
                    <div class="detail2">
                        <li class="p_ques">BUSKET은 얼마야?</li>
                        <div>
                            <input class="p_yellowbox" type="text" name="busketPrice">
                        </div>
                    </div>
        
                    <div class="detail3">
                        <li class="p_ques">BUSKET은 어디서 살 수 있어?</li>
                        <div>
                            <input class="p_yellowbox" type="text" placeholder="구매처 별명" name="busketShop">
                        </div>
                        <div>
                            <input class="p_yellowbox" type="text" placeholder="링크 복사 & 붙여넣기" name="busketShopUrl">
                        </div>
                    </div>
        
        
                    <div class="detail4">
                        <li class="p_ques que1">마지막으로 카테고리를 설정해보자!</li>
                        <div class="select-container">
                            <select class="p_yellowbox " name="busketCategory">
                                <option class="p_option" value="기타">기타</option>
                                <option class="p_option" value="의류">의류</option>
                                <option class="p_option" value="인테리어">인테리어</option>
                                <option class="p_option" value="굿즈">굿즈</option>
                                <option class="p_option" value="음식">음식</option>
                                <option class="p_option" value="취미">취미</option>
                            </select>
                        </div>
                    </div>
        
                </ul>
        
                <button type="submit" class="Addbutton" onclick="addClose()">
                    <img src="{% static 'img/Addbutton.svg' %}" alt="Addbutton">
                </button>
            </form>
            </div>
            
        </div>
    

    
    

    <div class="wrap2">


        <div class="Busket_ing">
            <p>나의 비스켓 현황</p>
        </div>

        <div class="Brutalist_99">
            <img src="{% static 'img/Brutalist 99.svg' %}" alt="Brutalist_99">
        </div>

        <div class="Rectangle_15">
           <div class="rectangle">
            <div class="wrap3">

                <div class="buskets">
                    {% for buket in bukets %}
                    <div class="busket{{ forloop.counter }}">
                        <img  src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" id="popupA" onclick="openPopup('{{ buket.busketName }}', '{{ buket.busketPrice }}','{{ buket.busketShop }}','{{ buket.busketShopUrl }}','{{ buket.busketCategory }}')">  
                    </div>
                    {% endfor %}
                </div>

        
            </div>
           </div>

        </div>

        <div id="popupBuskets">
    
            <div class="popup_top">
                <ul class="popup_ul">
                    <li class="popup_li">Busket</li>
                    <li class="popup_li" onclick="closePopup()">X</li>
                </ul>
            </div>
        <!--이부분은 input태그일 필요가 없어요 입력을 받는게 아니고 값을 보여주는거니깐~~ form일 필요도 없음!!-->
        <!-- 네!!!! -->
            <div class="popup_bottom">   
                <ul class="popup_detail">
        
                    <div class="detail1">
                        <li class="p_ques">BUSKET 이름</li>
                        <div>
                            <div class="p_yellowbox"><p  class="busketName"></p></div>
                        </div>
                    </div>
        
                    <div class="detail2">
                        <li class="p_ques">BUSKET 가격</li>
                        <div>
                            <div class="p_yellowbox" id="busketPrice"><p  class="busketPrice"></p></div>
                        </div>
                    </div>
        
                    <div class="detail3">
                        <li class="p_ques">BUSKET 구매처</li>
                        <div>
                            <div class="p_yellowbox" ><p  class="busketShop"></p></div>
                        </div>
                        <div>
                            <div class="p_yellowbox" ><p  class="busketShopUrl"></p></div>
                        </div>
                    </div>
        
        
                    <div class="detail4">
                        <li class="p_ques que1">카테고리</li>
                        <div>
                            <div class="p_yellowbox" ><p class="busketCategory"></p></div>
                        </div>
                    </div>
        
                </ul>
        
            </div>
            </div>
            
        </div>
    
    </div>

    

    <div class="pinkbox">

        <div class="pinkbox_top">
            <div id="btn-cl" class="pinkbox_top2 selected shadow" onclick="cateSelect(this)">의류</div>
            <div id="btn-in" class="pinkbox_top2" onclick="cateSelect(this)">인테리어</div>
            <div id="btn-go" class="pinkbox_top2" onclick="cateSelect(this)">굿즈</div>
            <div id="btn-fo" class="pinkbox_top2" onclick="cateSelect(this)">음식</div>
            <div id="btn-ho" class="pinkbox_top2" onclick="cateSelect(this)">취미</div>
            <div id="btn-etc" class="pinkbox_top2" onclick="cateSelect(this)">기타</div>
        </div>

        <div class="bottpink_wrap">
            <div class="clothes-u selected2">

                {% for buket in categories.clothes %}
                <div class="busket{{ forloop.counter }}" id="busketLoop">
                    <div id="busketLoopImg">
                        <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                    </div>                    
                    <ul class="ul_bottom">
                        <li class="li_bottom">{{ buket.busketName }}</li>
                        <li class="li_bottom">가격 : {{ buket.busketPrice }}</li>
                        <li class="li_bottom">구매처 : {{ buket.busketShop }}</li>
                    </ul>
                    <div class="detail_bt">
                        <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                    </div>
                </div>
                {% endfor %}
                

            </div>

            <!-- 카테고리 별 divs, 클래스 추가 -->
            <div class="category-box interior-u">
                    {% for buket in categories.interior %}
                    <div class="busket{{ forloop.counter }}" id="busketLoop">
                        <div id="busketLoopImg">
                            <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                        </div>                        
                        <ul class="ul_bottom">
                            <div class="li_bottom">{{ buket.busketName }}</div>
                            <div class="li_bottom">가격 : {{ buket.busketPrice }}</div>
                            <div class="li_bottom">구매처 : {{ buket.busketShop }}</div>
                        </ul>
                        <div class="detail_bt">
                            <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="category-box goods-u">
                {% for buket in categories.goods %}
                    <div class="busket{{ forloop.counter }}"  id="busketLoop">
                        <div id="busketLoopImg">
                            <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                        </div>                        
                        <ul class="ul_bottom">
                            <div class="li_bottom">{{ buket.busketName }}</div>
                            <div class="li_bottom">가격 : {{ buket.busketPrice }}</div>
                            <div class="li_bottom">구매처 : {{ buket.busketShop }}</div>
                        </ul>
                        <div class="detail_bt">
                            <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="category-box food-u" >
                {% for buket in categories.food %}
                    <div class="busket{{ forloop.counter }}" id="busketLoop">
                        <div id="busketLoopImg">
                            <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                        </div>                        
                        <ul class="ul_bottom">
                            <div class="li_bottom">{{ buket.busketName }}</div>
                            <div class="li_bottom">가격 : {{ buket.busketPrice }}</div>
                            <div class="li_bottom">구매처 : {{ buket.busketShop }}</div>
                        </ul>
                        <div class="detail_bt">
                            <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="category-box hobby-u">
                {% for buket in categories.hobby %}
                    <div class="busket{{ forloop.counter }}" id="busketLoop">
                        <div id="busketLoopImg">
                            <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                        </div>                       
                        <ul class="ul_bottom">
                            <div class="li_bottom">{{ buket.busketName }}</div>
                            <div class="li_bottom">가격 : {{ buket.busketPrice }}</div>
                            <div class="li_bottom">구매처 : {{ buket.busketShop }}</div>
                        </ul>
                        <div class="detail_bt">
                            <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
            <div class="category-box etc-u">
                {% for buket in categories.etc %}
                    <div class="busket{{ forloop.counter }}" id="busketLoop">
                        <div id="busketLoopImg">
                            <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" >
                        </div>
                        <ul class="ul_bottom">
                            <div class="li_bottom">{{ buket.busketName }}</div>
                            <div class="li_bottom">가격 : {{ buket.busketPrice }}</div>
                            <div class="li_bottom">구매처 : {{ buket.busketShop }}</div>
                        </ul>
                        <div class="detail_bt">
                            <a href="{{ buket.busketShopUrl }}"><img src="{% static 'img/자세히 보기.svg' %}" alt="자세히 보기"></a>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>

    </div>
    {% else %}
    <div class="non-login">
        <h2>로그인 후 이용이 가능한 페이지입니다.</h2>
        <h3>로그인을 진행하여 BUSKET의 모든 기능을 사용해보세요!</h3>
        <a href="{% url 'accounts:notloginmy' %}">로그인 하러 가기</a>
    </div>  
    {% endif %}
    




    {% endblock %}