{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/buy.css' %}">
<script src="{% static 'js/buy.js' %}"></script>
{%if user.is_authenticated %}
<div class="buy_wrap">
    <img class="bcg-img" src="{% static 'img/buy/Basket.svg' %}">
    <div class="top">
        <div class="title">BUSKET을 선택하여 구매한 비스켓으로 옮기기</div>
        <div class="wrap">
            <div class="sc1">
                {% for buket in bukets %}
                <div class="busket">
                    <input type="hidden" class="id" value="{{ buket.id}}">
                    <input type="checkbox" name="" id="">
                    <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}"
                        data-price="{{ buket.busketPrice }}" id="popupA"
                        onclick="openPopup('{{ buket.busketName }}', '{{ buket.busketPrice }}','{{ buket.busketShop }}','{{ buket.busketShopUrl }}','{{ buket.busketCategory }}')">
                    <div class="item-name">{{ buket.busketName }}</div>
                </div>
                {% endfor %}
            </div>
            <div class="sc2">
                <div class="cal">
         
                        <div class="name">
                            <h2></h2>

                        </div>

                        <div class="cost">
                            <h2>+ <span></span></h2>
                        </div>
                 

                </div>
                <div class="sum-cost">총 <span></span></div>

                <div class="add-btn">
                    <div class="count"></div>
                    <button class="add-button">ADD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="title">구매한 비스켓</div>
        <div class="wrap">
            {% for buket in buketsBuy %}
            <div class="busket">
                <input type="checkbox" name="" id="">
                <img src="{{ buket.Image.url }}" alt="busket{{ forloop.counter }}" id="popupA"
                    onclick="openPopup('{{ buket.busketName }}', '{{ buket.busketPrice }}','{{ buket.busketShop }}','{{ buket.busketShopUrl }}','{{ buket.busketCategory }}')">
                <div class="item-name">{{ buket.busketName }}</div>
            </div>
            {% endfor %}
        </div>
        <button class="delete">BUCKET 비우기</button>
    </div>
</div>
{% else %}
    <div class="non-login">
        <h2>로그인 후 이용이 가능한 페이지입니다.</h2>
        <h3>로그인을 진행하여 BUSKET의 모든 기능을 사용해보세요!</h3>
        <a href="{% url 'accounts:notloginmy' %}">로그인 하러 가기</a>
    </div>  
    {% endif %}


{% endblock %}