{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/buy.css' %}">
<div class="buy_wrap">
    <div class="top">
        <div class="title">BUSKET을 선택하여 구매한 비스켓으로 옮기기</div>
        <div class="wrap">
            <div class="sc1">
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>
                <div class="busket">
                    <input type="checkbox" name="" id="">
                    <img src="{% static 'img/busket.svg' %}" alt="">
                    <div class="item-name">아이폰 신상</div>
                </div>

            </div>
            <div class="sc2">
                <div class="cal">
                    <div class="name">
                        <h2>비스켓</h2>

                    </div>
                    <div class="line"> </div>
                    <div class="cost">
                        <h2>+ <span>5000fdddddd0</span></h2>
                    </div>
                </div>
                <div class="sum-cost">총 <span>1111111</span></div>

                <div class="add-btn">
                    <div class="count">2</div>
                    <button>ADD</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bot">
        <div class="title">구매한 비스켓</div>
        <div class="wrap">
            <div class="busket">
                <img src="{% static 'img/busket.svg' %}" alt="">
                <div class="item-name">아이폰 신상</div>
            </div>
        </div>
        <button class="delete">BUCKET 비우기</button>
    </div>
</div>


{% endblock %}