/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    display: flex;
    flex: 5;
} */

.home {
    background-color: #FFD950;
}

.main-content {
    position: relative;
    margin: 0px auto;
}

.flower {
    position: absolute;
    top: 140px;
    left: 970px;
}

.home_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.box1 {
    margin: 0 auto;
    margin-top: 150px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.box2 {
    margin: 0 auto;
    margin-top: 90px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.box3 {
    margin: 0 auto;
    margin-top: 90px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.text1 {
    margin: auto 0;
}

.text2 {
    margin: auto 0;
}

.text3 {
    margin-top: 30px;
    margin-left: -40px;
}

.share-icon {
    margin-left: 40px;
}

.home_container p {
    margin-top: 10px;
    font-size: 33px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}

.promotion {
    padding: 20px;
    margin-top: 380px;
    text-align: center;
}

.promotion p {
    font-size: 30px;
    font-weight: bold;
}

.home4 {
    position: absolute;
    top: 448px;
    left: 143px;
}

.scrollpromo {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 1281px;
    height: 800px;
    overflow-x: hidden;
}

.promo {
    min-width: 1281px;
    height: 700px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.home4_container {
    position: absolute;
    top: 448px;
    left: 143px;
}

.home4 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.8s ease, transform 1.8s ease;
    transition-delay: 0.8s;
}

.home4.visible {
    opacity: 1;
    transform: translateX(0);
}

.home5_container {
    position: absolute;
    top: 970px;
    left: 420px;
}

.home5 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.8s ease, transform 1.8s ease;
    transition-delay: 1.0s;
}

.home5.visible {
    opacity: 1;
    transform: translateX(0);
}

.icon {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.icon.visible {
    opacity: 1;
    transform: translateX(0);
}

.vs-icon {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.8s ease, transform 1.8s ease;
}

.vs-icon.visible {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
}

.share-icon {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.8s ease, transform 1.8s ease;
    transition-delay: 0.6s;
}

.share-icon.visible {
    opacity: 1;
    transform: translateX(0);
}

