/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 

*{
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    display: flex;
    flex: 5;
} */

.main-content {
    position: relative;
    margin: 0px auto;
}

.flower {
    position: absolute;
    top: 130px;
    left: 950px;
}

.home {
    margin: 0 auto;
    display: flex;
    flex-direction: column;         
}

.box1 {
    margin: 0 auto;
    margin-top: 150px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.box2 {
    margin: 0 auto;
    margin-top: 160px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.box3 {
    margin: 0 auto;
    margin-top: 160px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 170px;
}

.text1 { 
    margin: auto 0;
}

.text2 {
    margin: auto 0;
}

.text3{
    margin: auto 0;
}

.home p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.promotion {
    padding: 20px;
    margin-top: 300px;
    text-align: center;
}

.promotion p{
    font-size: 25px;
    font-weight: bold;
}

.home4{
    position: absolute;
    top: 520px;
    left: 130px;  
}

.home5{
    position: absolute;
    top: 550px;
    left: 200px;
}

