/*bgc 컬러 노란색 고정*/
.my{ 
    background-color: #FFD950;
}

.cumulation, .report{
    margin: 2.5% 10%;
}

/*흰색 박스 + 내부 사진 및 글씨 설정*/
.box, .name{
    border: 2px solid gray;
}

.box h1, h2, .biscuit{
    display: inline;
}

/*프로필 영역*/
.profile{
    text-align: center;
    margin-top: 30px;
}

#picture{
    border: 10px solid #FFD950;
    border-radius: 50%;
    width: 200px;
    margin: 20px;
}

.name{
    width: 250px;
    padding: 5px;
    margin: 0 auto; /*가운데 정렬*/

    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

.profile a{
    color: black;
    margin: 10px;
}

/*BUSKET 목록*/
.box{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    padding: 30px;   
}

.report .box{
    flex-direction: column;
}

.biscuit{
    text-align: center;
    margin: 20px;
}

.explanation{
    width: 60%;
    padding: 10% 3%;
    text-align: center;
}

.left{
    float: left;
}

.right{
    float: right;
}