{% comment %} 프로필 이미지 수정 폼 커스텀 {% endcomment %}

{% comment %} 기본프로필 체크와 새프로필 업로드 동시에 할 경우 아무것도 실행되지 않고 다시 수정페이지 뜸.
둘 중 하나만 선택가능하게 하는 건 JS로 구현가능 {% endcomment %}

{% if widget.is_initial %}
    프로필 : <img src="{{ widget.value.url }}" alt="Profile Image" style="max-width: 200px; max-height: 200px;"><br>
    기본 프로필 : <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
{% endif %}
&nbsp&nbsp&nbsp&nbsp새 프로필 : <input type="file" name="{{ widget.name }}" id="{{ widget.attrs.id }}">
