{% extends "my.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <title>로그인</title>
    </head>

    <body>
        <div class="modal"> <!--로그인 모달창-->
            <div class="modal_body"> <!--로그인 모달창 내용-->
                <div class="container">
                    <form class="user_form">
                        <h3> 이메일 </h3>
                        <input type="text" placeholder="emial">
                        <h3> 비밀번호 </h3>
                        <input type="password" placeholder="password">
                        <input type="submit" value="로그인">
                    </form>

                    <p> 간편 로그인 </p> <!--SNS 로그인-->
                    <a href="#" class="social"><img src="{% static 'img/naver.png' %}" alt="네이버"/></a>
                    <a href="#" class="social"><img src="{% static 'img/google.png' %}" alt="구글"/></a>
                    <a href="#" class="social"><img src="{% static 'img/facebook.png' %}" alt="페이스북"/></a>
                    <a href="#" class="social"><img src="{% static 'img/x.png' %}" alt="X"/></a>
                    <!--SNS 연동은 어떻게 시키는 지 몰라서.. 일단 이미지로..-->
                </div>
            </div>
        </div> 
    </body>
</html>
{% endblock %}