{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/my.css' %}">

<div class="profile"> <!--상단 프로필 정보-->
    <img src="{% static 'img/accounts/프로필사진.svg' %}" id="picture">
    <div>
        <h3 class="name"> 000 님 </h3>
    </div>
    <a href=#> 로그인 / 로그아웃 </a>
    <a href=#> 프로필 수정 </a>
</div>

<div class="cumulation"> <!--누적 BUSKET-->
    <p>누적 BUSKET</p>
    <div class="box">
        <div class="list">
            <img class="biscuit left" src="{% static 'img/accounts/비스켓 묶음.svg' %}">
            <div class="explanation right">
                <h1> X 23</h1>
                <h1>총 368,000원</h1>
            </div>
        </div>
    </div>
</div>

<div class="report"> <!--BUSKET REPORT-->
    <p>BUSKET REPORT</p>
    <div class="box">
        <div class="list">
            <img class="biscuit left" src="{% static 'img/accounts/비스켓 1.svg' %}">
            <div class="explanation right">
                <h2>가장 많이 모은 비스켓은 <br> </h2>
                <h1 class="item">옷</h1>
                <h2>카테고리입니다.</h2>
            </div>
        </div>
        <div class="list">
            <div class="explanation left">
                <h2>가장 많이 모은 비스켓은 <br> </h2>
                <h1 class="item">음식</h1>
                <h2>카테고리입니다.</h2>
            </div>
            <img class="biscuit right" src="{% static 'img/accounts/비스켓 2.svg' %}">
        </div>
    </div>
</div>

{% endblock %}