{% extends "my.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>로그인이 필요합니다.</title>
        <link rel="stylesheet" href="{% static 'css/not_login.css' %}">
    </head>

    <body>
        <div class="list"> <!--로그인 요청-->
            <img class="biscuit" src="{% static 'img/accounts/비스켓 5.svg' %}" width="200px">
            <div class="explanation right">
                <h1>로그인이 필요한 페이지입니다.</h1>
                <h2><a href="#">로그인하러 가기</a></h2> <!--MY 페이지로 연결 필요-->
            </div>
        </div>
    </body>
</html>
{% endblock %}