<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="아이디">
        <input type="password" name="password1" placeholder="비번">
        <input type="password" name="password2" placeholder="비번확인">
        {% comment %} <input type="email" name="email" placeholder="이메일"> {% endcomment %}

        <button type="submit">제출</button>
    </form>
</body>
</html> 