{% extends "my.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
        <script src="{% static 'js/profile.js' %}"></script>
        <title>회원가입</title>
    </head>

    <body>
        <div class="modal"> <!--회원가입 모달창-->
            <div class="modal_body"> <!--회원가입 모달창 내용-->
                <div class="container">
                    <form method="post" action ={%url 'accounts:signup'%}  class="user_form">
                        {% csrf_token %}
                        <h1>회원가입</h1>
                        <h3> 닉네임 </h3>
                        <input type="text" name="username" placeholder="name">
                        <h3> 비밀번호 </h3>
                        <input type="password" name="password1" placeholder="password">
                        <h3> 비밀번호 확인 </h3>
                        <input type="password" name="password2" placeholder="password">
                        <input type="submit" value="회원가입 ">
                    </form>
                </div>
            </div>
        </div> 
    </body>
</html>
{% endblock %}