{% extends "my.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <script src="{% static 'js/profile.js' %}"></script>
        <title>회원가입</title>
    </head>

    <body>
        <div class="modal"> <!--회원가입 모달창-->
            <div class="modal_body"> <!--회원가입 모달창 내용-->
                <div class="container">
                    <form class="user_form">
                        <h1>회원가입</h1>
                        <p>프로필 사진</p>
                        <div class="profile">
                            <label class="profile_img_button" for="profile_img"> 
                                <img src="{% static 'img/프로필사진.png' %}" id="preview">
                            </label>
                            <input id='profile_img' type='file' accept='image/*' style="display: none;" onchange="readURL(this);"/>
                            
                        </div>
                        <h3> 닉네임 </h3>
                        <input type="text" placeholder="name">
                        <h3> 메일 </h3>
                        <input type="text" placeholder="email">
                        <h3> 비밀번호 </h3>
                        <input type="password" placeholder="password">
                        <h3> 비밀번호 확인 </h3>
                        <input type="password" placeholder="password">
                        <input type="submit" value="회원가입 ">
                    </form>
                </div>
            </div>
        </div> 
    </body>
</html>
{% endblock %}