{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>BUSKET</title>
</head>

<body style="background-image:url({% static 'img/background.svg' %})">
    <div class="wrap">
        <header/Scripts/activate class="main-header">
            <div class="logo">
                <a href="/">
                <img src="{% static 'img/logo.svg' %}" alt="logo"/>
            </a>
            </div>
            <ul class="category">
                <li class="home"><a href="{% url 'home:home' %}">HOME</a></li>
                <li class="buy"><a href="{% url 'buket:buy' %}">BUY</a></li>
                <li class="bucket"><a href="{% url 'buket:buket' %}">BUCKET</a></li>
                <li class="my"><a href="{% url 'accounts:my' %}">MY</a></li>
            </ul>
        </header>
        
            {% block content %}

            {% endblock %}
        
            <footer class="main-footer">
                <div class="inner">
                    <p>ⓒ SSWU_WAGI 2기 Team.WEB</p>
                    <p class="member">BACKEND 조수빈 손정민 <br /> FRONTEND 최수진 백수진 이가윤 이예솔</p>
                </div>
            </footer>

    </div>
</body>

</html>